<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
    <link type="text/css" rel="stylesheet" href="exemple-styles.css" />
    <script type="text/plain" src="https://raw.githubusercontent.com/jashkenas/underscore/master/underscore-min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>

    <script src="controller.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body ng-controller="PhoneListCtrl">
<div class="container">
<h2>{{title}}</h2>

<input type="text" ng-model="query">

<ul>
    <li ng-repeat="phone in phones | filter: {name:query, status:true}">
        <span>{{phone.name}}</span>
        <p>
            {{phone.snipet}}<br />
            {{phone.status}}
        </p>
    </li>
</ul>

<p>Общее кол-во телефонов {{phones.length}}</p>

<hr>


<p>{{date3}} {{today | date:'dd.MM.yyyy, hh.mm.ss'}}</p>
</div>
</body>
</html>
